@media only screen and (max-width: 600px) {
    .css-nav-list {
        display: none;
    }

    .css-banner {
        max-width: 88%;
    }

    .css-coupon-1-img,
    .css-coupon-2-img {
        max-width: 88%;
    }
}
