.css-ver-line {
    height: 32rem;
    position: absolute;
    border-left: 4px dashed #0307124D;
    margin-top: 2%;
    left: 60%;
}

@media only screen and (max-width: 600px) {
    .css-nav-list {
        display: none;
    }

    .css-banner {
        max-width: 88%;
    }

    .css-coupon-1-img,
    .css-coupon-2-img {
        max-width: 88%;
    }
}
